.svn
*.tar.*
*.*~
/doc/*.aux
/doc/*.bbl
/doc/*.blg
*.log
*.out
/doc/*.pdf
/doc/*.synctex*
/doc/*.toc
/build
/build-*
/devel
*.user
*.user.*
*.tar
*.tar.*
.catkin_*
.idea
__pycache__
.cmake/
include/witmotion/version.h

