<?xml version="1.0"?>
<launch>
	<rosparam command="load" file="$(find controller)/param/vesc.yaml" />
	<include file="$(find vesc_driver)/launch/vesc_driver_node.launch"/>
	<include file="$(find vesc_ackermann)/launch/ackermann_to_vesc_node.launch"/>
	<include file="$(find vesc_ackermann)/launch/vesc_to_odom_node.launch"/>
</launch>
